<div class="m-page-title"><h2>درباره ی ما</h2></div><!-- m-page-title -->
  <section id="main-content loading">
	    <section class="wrapper">
	      <div class="row">
	          <div class="col-sm-11">
			    <blockquote>
					امروزه به دلیل گرفتاری های زیادی که داریم بسیاری از کارهای روزمره مان را فراموش می کنیم. از جمله مصرف داروها. همچنین نگران سلامتی بزرگان خانواده نیز هستیم و می خواهیم بدانیم آیا داروهایشان را مصرف کرده اند اما به دلیل مشغله ی زیاد فراموش می کنیم.
					به همین دلیل تصمیم گرفتیم که ایده ی ظرف داروی هوشمند را پیاده سازی نماییم.<br>
					ظرف داروی هوشمند ما هنگام مصرف دارو چراغ مربوط به آن دارو در ظرف را روشن می کند و به شما اطلاع می دهد که داروی خود را مصرف نمایید و در صورتی که داروی خود را مصرف نکرده باشید به شما یا یکی از نزدیکانتان که از قبل مشخص کرده اید یادآوری می کنیم.
					در قسمت <b><%= link_to 'راهنما', help_path , :style => "color:#26A69A;"%></b> روش استفاده از سایت توضیح داده شده است.<br>
					ما از دریافت انتقادات و پیشنهادات شما خوشحال می شویم.برای خوشحال کردن ما از ایمیل زیر استفاده کنید...<br>
					pillbox1.2015@gmail.com

			    </blockquote>	
			</div>
		</div>
	</section>
</section